<ion-header>
  <ion-toolbar>
    <ion-title>
      Accueil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row align-items-start>
      <ion-col align-self-end size="6">
        <ion-button expand="full" href="/pannneaux">panneaux</ion-button>
        <ion-button expand="full" href="/categories">categories</ion-button>
      </ion-col>
      <ion-col align-self-start size="6">
        <ion-button expand="full" href="/quizz">quizz</ion-button>
        <ion-button expand="full" href="/preferences">preferences</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
